/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 6:36:47 PM
    Author     : dpattas
*/

#loginLogo {
    margin-left: 2em;
    width: 5em;
    float: left;
}
#loginTitle {
    padding-top: 1em;
    padding-left: 1em;
    color: white;
    font-size: 1.5em;
    display: inline-block;
}
#categoryForm\3A newSkillBtn, #activitiesForm\3A newActivityBtn {
    margin-top: .5em;
    background: none !important;
    background-color: #ffa967 !important;
}

@media screen and (min-width: 571px) {

    #loginLogo {
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 506px) {
    #loginLogo {
        width: 5em !important;
        margin-top: 0;
    }

    #loginTitle {
        padding-top: .3em;
    }  

}
@media screen and (max-width: 361px) {
    #loginTitle {
        font-size: 1.2em;
        width: 60%;
        padding-top: .7em;
    }
}

.ui-tabmenu .ui-tabmenu-nav {
    padding-left: .5em;
    height: 4em;
    background: #414042;
}

.ui-tabmenuitem {
    height: 99%;
    font: normal 1.5em 'Noto Serif', serif, Arial; 
}

.ui-tabmenuitem.ui-state-default.ui-corner-top:first-child{
    background: none;
    border: none;
    pointer-events: none;
}
.ui-tabmenuitem.ui-state-default.ui-corner-top:last-child {
    float: right !important;
    background-color: #990033 !important;
    background: none;
    color: white;
}

#headerForm\3A logo {
    width: 2.6em;
    margin-top: -0.65em;
}
.ui-menuitem-text > #title, #title {
    font-size: 1em;
    color: white;
    margin-top: -3em;
    display: inline-block;
}

.ui-progressbar {
    height: 1.6em !important;
}
.ui-progressbar-value {
    height: 110% !important;
}

#newEventDlg_title {
    width: 85%;
    margin-right: 0px;
}

#newEventDlg {

    height: 50vw !important;
    max-height: 90vh;
    min-height: max-content;
    top: 5% !important;
    bottom: 5% !important;
    left: 10% !important;
    right: 10% !important;
}

.ui-dialog-content {
    max-height: 90vh;
    resize: none;
}

@media screen and (min-width: 768px) { 
    .row.main-content{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .row.main-content > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 4.3em;
        margin-top: -2.3em;
    }

    #title {
        font-size: 1.5em;
        margin-left: 0.5em;
        margin-top: 0.6em;
    }

    #progressDiv {
        padding-top: 0.3%;
        padding-bottom: 0.3%;
    }
    .selected {
        color: #f58025 !important;
        font-weight: bold
    }

    .not-selected {
        color: black !important;
    }

    .fa-calendar-o {
        height: inherit;
    }

    .ui-tabmenu .ui-tabmenu-nav {
        padding-left: .5em
    }

    .ui-tabmenuitem.ui-state-default.ui-corner-top:last-child {
        float: right !important;
        background-color: #990033 !important;
        background: none;
        color: white;
    }

}
@media screen and (max-width: 1238px) { 
    .ui-menuitem-text > #title {
        font-size: .6em
    }
}
@media screen and (min-width: 1198px) { 
    #logo {
        width: 5.1em;
        margin-top: 0;
    }

    #pendingActivitiesDiv {
        margin-top: .8em;
    }
    .ui-menuitem-text > #title {
        margin-top: -0.5em;
        display: inline-block;
    }
}

@media screen and (max-width: 1199px) { 

    #headerForm\3A logo {
        width: 2.6em;
        margin-top: -1.4em;
    }

    .ui-menuitem-text > #title {
        margin-top: -0.5em;
        /*        display: none;*/
    }

    .ui-tabmenuitem.ui-state-default.ui-corner-top:nth-child(2){
        /*        margin-left: 17%;*/
    }

    #logo {
        width: 4.3em;
        margin-top: -2em;
    }

    #title {
        font-size: 1.5em;
        margin-left: 0.5em;
        margin-top: .2em;
        display: inline-block;
    }
}

@media screen and (min-widrh: 959px) and (max-width: 1050px) {
    #title {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) { 
    #pendingActivitiesDiv {
        padding-left: 0;
    }
}
@media screen and (min-width: 1015px) { 
    #welcomeDiv {
        margin-top: .6em;
    }
}
@media screen and (min-width: 1015px) { 
    #pendingActivitiesDiv {
        padding-top: .5%;
        padding-bottom: .5%;
    }
}
@media screen and (max-width: 1014px) { 
    #logo {
        width: 7.2em;
        margin-top: -1.8em;
    }

    #title {
        font-size: 1.5em;
        margin-left: 0.5em;
        margin-top: 1em;
        display: inline-block;
    }

    #progressDiv {
        padding-top: 2%;
    }

    #pendingActivitiesDiv {
        padding-top: 2.2%;
        padding-left: 5%
    }
}

@media screen and (max-width: 933px) {
    .ui-tabmenuitem.ui-state-default.ui-corner-top:nth-child(2){
        margin-left: 1%;
    }
    #headerForm\3A logo {
        margin-top: -.65em;
    }
    .ui-tabmenu .ui-tabmenu-nav {
        padding-left: .5em;
        height: 3em;
    }

    .ui-tabmenuitem {
        height: 99%;
        font: normal 1em 'Noto Serif', serif, Arial; 
    }
}

@media screen and (min-width: 1500px) {
    .ui-tabmenuitem.ui-state-default.ui-corner-top:nth-child(2) {
        margin-left: 10%;
    }
}


@media screen and (min-width: 993px) and (max-width: 1199px) {
    #headerForm\3A logo {
        margin-top: -.7em;
        width: 2.7em;
    }
}
@media screen and (min-width: 934px) and (max-width: 991px) { 
    #headerForm\3A logo {
        width: 2.6em;

    }

    /*    .ui-menuitem-text > #title {
            display: none
        }*/

    .ui-tabmenuitem.ui-state-default.ui-corner-top:nth-child(2){
        margin-left: 17%;
    }

    #logo {
        width: 5em;
        margin-top: -20%;
    }

    #title {
        margin-top: 5%;
    }


    #progressDiv {
        padding-right: 0;
    }

    #pendingActivitiesDiv {
        padding-left: 5%
    }
}

@media screen and (max-width: 991px) {
    #logo {
        width: 5.5em;
        margin-top: -3em;
    }

    #title {
        font-size: 1.2em;
        margin-left: 0.5em;
        margin-top: 0.5em;
        display: inline-block;
    }
}
@media screen and (min-width: 768px) and (max-width: 933px) {
    #headerForm\3A logo {
        width: 3em;
        margin-top: -1.2em;
    }
}
@media screen and (min-width: 768px) and (max-width: 826px) {

    #logo {
        width: 5.7em;
        margin-top: -2.5em;
    }

    #title {
        font-size: 1em;
        margin-left: 0.5em;
        margin-top: 1.3em;
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    .row.main-content{
        display: block !important;
    }
    .row.main-content > [class*='col-'] {
        display: block;
    }
    #headerForm\3A logo {
        width: 2.8em;
    }

    #logo {
        width: 6em;
        margin-top: .6em;
    }
    #progressDiv {
        padding-top: 1.5em;
    }

    #welcomeDiv {
        margin-left: 6em;
    }

}

@media screen and (max-width: 576px) {
    #welcomeDiv {
        margin-left: 2em;
    }
}

.row.header > [class*='col-'] {
    padding-left: 2em;
    padding-right: 2em;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker { 
    0% { color: #ff1313; }
    50% { color: #850e0e; }
    100% { color: #310404; }
}

@-webkit-keyframes blinker { 
    0% { color: #ff1313; }
    50% { color: #850e0e; }
    100% { color: #310404; }
}

@keyframes blinker { 
    0% { color: #ff1313; }
    50% { color: #850e0e; }
    100% { color: #310404; }
}